@font-face{
	font-family: LatoBold;
    src: url(font/LatoBold.ttf) format('truetype')
}

@font-face{
	font-family: LatoBlack;
    src: url(font/LatoBlack.ttf) format('truetype')
}

@font-face{
	font-family: LatoRegular;
    src: url(font/LatoRegular.ttf) format('truetype')
}

@font-face{
	font-family: LatoLight;
    src: url(font/LatoLight.ttf) format('truetype')
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
	list-style: none;
}

input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
    outline: none;
    border: none;
}

.button {
	height: 54px;
	border-radius: 50px;
	font-size: 20px;
	box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.title {
	position: relative;
	text-align: center;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.title h1 {
	font-size: 30px;
	color: rgb(54, 62, 67);
}

.title .border {
	background-color: rgb(171, 220, 104);
	position: absolute;
	left: calc(50% - 20px);
	bottom: 0;
	width: 40px;
	height: 6px;
    border-radius: 10px;
}

.slick-slide:focus {
	border: none;
	outline: none;
}

.wrapper {
	width: 100%;
	height: 100%;
	font-family: "LatoBold";
	position: relative;
}

.header {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 18px 4%;
}

.header .logo {
	display: inline-block;
}

.header .logo a {
}

.header .logo img {
	width: 95px;
}

.header .menu {
	display: inline-block;
    float: right;
    position: relative;
}

.header .menu .button {
	display: inline-block;
	background-color: rgb(54, 62, 67);
	width: 188px;
	color: rgb(253, 253, 253);
    padding: 15px;
    margin-right: 15px;
    text-align: center;
}

.header .menu .button:hover {
	background-color: rgba(9, 10, 11, 1);
	box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.header .lang {
	display: inline-block;
}

.header .lang a {
    margin-left: 15px;
	font-size: 16px;
	color: rgba(253, 253, 253, 0.4);
}

.header .lang a.active,
.header .lang a:hover {
	color: rgba(253, 253, 253, 1);
}

.banner {
	padding: 170px 25% 0 10.5%;
	height: 525px;
	background: url(img/banner-bg.png) 50% no-repeat;
	background-size: cover;
}

.banner h1 {
	font-size: 38px;
	color: rgb(253, 253, 253);
	line-height: 1.2;
	text-shadow: 1px 1px 2px #4c8103;
}

.banner .brown {
	color: #2c4d00;
	text-shadow: 1px 1px 2px #d0f49f;
}

.banner a {
    position: relative;
    top: 30px;
    display: inline-block;
	color: rgb(54, 62, 67);
}

.banner a .button {
	background-color: rgb(253, 253, 253);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
	width: 272px;
	padding: 7px 10px 7px 35px;
}

.banner a .button:hover {
	color: #000;
	box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.banner a .button span {
    top: 8px;
    position: relative;
}

.banner a i {
	float: right;
	font-size: 40px;
}

.clients {
	padding: 100px 13%;
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 19px);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    border: 2px solid #363e43;
    color: #363e43;
    font-size: 20px;
    cursor: pointer;
    line-height: 1px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.slick-arrow:hover {
  	border-color: #000;
  	color: #000;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.slick-arrow i {
}

.slick-prev {
    left: -72px;
    padding: 8px 3px 6px 0;
}

.slick-next {
    right: -72px;
    padding: 8px 12px;
}

.clients .carousel {
}

.clients .carousel .slider-nav {
	top: 21px;
	z-index: 100;
}

.clients .carousel .slider-nav li {
	text-align: center;
}

.clients .carousel .slider-nav li img {
	max-width: 100%;
	margin: 0 auto;
}

.clients .carousel .slider-for {
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.clients .carousel .slider-for li {

}

.clients .carousel .slider-for li img {
	width: 100%;
	height: 100%;
}

.solutions {
	width: 100%;
	max-height: 700px;
	background-color: rgb(247, 251, 254);
    text-align: center;
    padding: 100px 4% 150px 11.5%;
}

.solutions .title h1 {
	font-size: 26px;
}

.solutions .left-col {
    width: 350px;
    display: inline-block;
}

.solutions .left-col img {
	max-width: 100%;
    margin-top: 35px;
}

.solutions .left-col a {
	color: rgb(253, 253, 253);
    position: relative;
    top: 48px;
    display: inline-block;
}

.solutions .left-col .button {
	background-color: rgb(93, 161, 0);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	width: 212px;
    padding: 15px 21px 15px 8px;
}

.solutions .left-col .button:hover {
	background-color: rgba(107, 184, 0, 1);
	box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.solutions .left-col .button span {
}

.solutions .left-col .button i {
	float: right;
    top: 1px;
    position: relative;
}

.solutions .right-col {
    display: inline-block;
    width: calc(100% - 354px);
    vertical-align: top;
}

.solutions .right-col .solution-video {
	width: 100%;
	max-width: 640px;
    margin: 25px auto 0;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}


.solutions .right-col .solution-video iframe {
	max-width: 100%;
	max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.stat {
	height: 180px;
	position: relative;
}

.stat .stat-list {
	height: 100%;
}

.stat .stat-list li {
	display: inline-block;
	width: 33.33%;
	height: 100%;
	vertical-align: top;
    margin-right: -4px;
	text-align: center;
    padding-top: 45px;
}

.stat .stat-list .one {
	background: url(img/1000.png) 50% no-repeat;
	background-size: cover;
}

.stat .stat-list .two {
	background: url(img/200.png) 50% no-repeat;
	background-size: cover;
}

.stat .stat-list .three {
	background: url(img/40.png) 50% no-repeat;
	background-size: cover;
}

.stat li .num {
	/*display: none;*/
	font-size: 80px;
	color: rgb(253, 253, 253);
	line-height: 1.2;
	-moz-transform: matrix( 0.95896426912369,0,0,0.96447690096283,0,0);
	-webkit-transform: matrix( 0.95896426912369,0,0,0.96447690096283,0,0);
	-ms-transform: matrix( 0.95896426912369,0,0,0.96447690096283,0,0);
}

.stat li .num-info {
	/*display: none;*/
    position: relative;
    top: -35px;
	font-size: 20px;
	color: rgb(191, 235, 131);
	text-shadow:
			-2px -2px 2px rgba(36, 41, 45, 1),
			2px -2px 2px rgba(36, 41, 45, 1),
			-2px 2px 2px rgba(36, 41, 45, 1),
			2px 2px 2px rgba(36, 41, 45, 1);
	-moz-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-webkit-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-ms-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
}

.stat li .num-hide {
	display: none;
    position: relative;
    top: -38px;
	font-size: 20px;
	color: rgba(36, 41, 45, 0.9);
	text-shadow: 0px -3px 0px rgba(36, 41, 45, 0.9);
    text-shadow: 2px 2px 3px rgba(1, 1, 1, 1);
	-moz-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-webkit-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-ms-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
}

.stat li .num-hidee {
	display: none;
    position: relative;
    top: -62px;
    left: 2px;
	font-size: 20px;
	color: rgba(36, 41, 45, 0.9);
	text-shadow: 0px -3px 0px rgba(36, 41, 45, 0.9);
    text-shadow: -2px 2px 3px rgba(1, 1, 1, 1);
	-moz-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-webkit-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-ms-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
}

.stat li .num-hideee {
	display: none;
    position: relative;
    top: -85px;
    left: 2px;
	font-size: 20px;
	color: rgba(36, 41, 45, 0.9);
	text-shadow: 0px -3px 0px rgba(36, 41, 45, 0.9);
    text-shadow: 2px 2px 3px rgba(1, 1, 1, 1);
	-moz-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-webkit-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
	-ms-transform: matrix( 0.97446385615621,0,0,0.98006558778742,0,0);
}

.cycle {
    padding: 100px 0 70px;
}

.cycle ul {
    max-width: 1014px;
    margin: 20px auto 0;
    padding: 0 10px;
    text-align: center;
}

.cycle ul li {
    display: inline-block;
    width: calc(33% - 34px);
    max-width: 295px;
    min-width: 210px;
    text-align: center;
    vertical-align: top;
	background-color: rgb(253, 253, 253);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
	height: 396px;
	margin: 15px;
	position: relative;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.cycle ul li:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 1, 0.4), 0px 1px 18px 0px rgba(0, 0, 1, 0.2);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.cycle ul li:before,
.cycle ul li:after {
    content: '';
    position: absolute;
    width: 39px;
    height: 12px;
    top: 50%;
    z-index: 100;
}

.cycle ul li:first-child:before,
.cycle ul li:last-child:after {
    display: none;
}

.cycle ul li:before {
    left: -22px;
    background: url(img/cycle-before.png);
}

.cycle ul li:after {
    right: -22px;
    background: url(img/cycle-after.png);
}


.cycle li div {
	height: 200px;
    margin: 40px 0 20px;
}

.cycle li div img {
	max-width: 100%;
	max-height: 100%;
}

.cycle li .num {
	font-size: 105px;
	color: rgb(214, 242, 176);
}


.cycle li .num-info {
    padding: 0 26px;
	font-size: 20px;
	color: rgb(79, 88, 94);
	position: relative;
	top: -86px;
	text-shadow:
			-2px -2px 0px rgb(253, 253, 253),
			2px -2px 0px rgb(253, 253, 253),
			-2px 2px 0px rgb(253, 253, 253),
			2px 2px 0px rgb(253, 253, 253);
}


.cycle li .num-info-one {
	top: -75px;
}

.whale {
	background-color: rgb(247, 251, 254);
	padding: 100px 0 60px;
}

.whale ul {
	max-width: 1050px;
	margin: 65px auto 0;
}

.whale li {
	display: inline-block;
	vertical-align: top;
	width: calc(33% - 4px);
	text-align: center;
}

.whale li img {
	max-width: 100%;
}

.whale li p {
    max-width: 250px;
    margin: 15px auto 0;
	font-size: 20px;
	color: rgb(54, 62, 67);
}

.command {
	padding: 100px 50px 80px 80px;
}

.command .slider-com {
	max-width: 900px;
	margin: 0 auto;
}

.command .slick-arrow {
  	border-color: rgb(171, 220, 104);
  	color: rgb(171, 220, 104);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.command .slick-arrow:hover {
  	border-color: rgb(93, 161, 0);
  	color: rgb(93, 161, 0);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.command .slick-next {
    right: -45px;
}

.command .parent-block {
  width: 420px;
}

.command .child {
	width: 99%;
	max-width: 420px;
    margin: 0 auto 10px;
}

.command .who {
    height: 93px;
}

.command .who .name {
	display: inline-block;
    vertical-align: middle;
    width: calc(50% - 65px);
    text-align: right;
	font-size: 18px;
	color: rgb(54, 62, 67);
    padding-right: 25px;
}

.command .who img {
	display: inline-block;
	vertical-align: middle;
    position: relative;
    top: 17px;
}

.command .who .position {
	display: inline-block;
	vertical-align: middle;
    width: calc(50% - 65px);
    text-align: center;
	font-size: 14px;
	color: rgb(137, 137, 137);
	font-family: 'LatoBlack';
    padding: 0 25px 0 0;
}

.command .who .position.two-line {
    text-align: left;
    padding: 0 25px;
}

.command .about {
	background-color: rgb(247, 251, 254);
	/*background-color: #000;*/
	width: 100%;
	height: 150px;
	font-size: 15px;
	color: rgb(77, 87, 93);
	line-height: 1.714;
	padding: 40px 11% 0;
	left: 294.134px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.command .child:hover .about {
	background-color: rgba(232, 244, 252, 1);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.forma {
	padding: 0 10px 90px;
}

.forma .forma-block {
	border-radius: 8px;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08);
	max-width: 1014px;
	height: 378px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.forma .forma-block:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08), 0px 0px 1px 0px rgba(0, 0, 1, 0.3), 0px 1px 18px 0px rgba(0, 0, 1, 0.15);
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
     	 -o-transition: all 0.3s ease-out;
    		transition: all 0.3s ease-out;
}

.forma .forma-block h1 {
	font-size: 24px;
	color: rgb(54, 62, 67);
	font-family: 'LatoBlack';
}

.forma .forma-block>p {
	font-size: 15px;
	color: rgb(155, 164, 170);
    margin-top: 15px;
}

.forma form {
    max-width: 700px;
    padding: 45px 7px 0;
    margin: 0 auto;
}

.forma form .left-col {
    width: calc(50% - 4px);
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.forma form p {
	font-size: 14px;
	color: rgb(116, 127, 134);
    width: 95px;
    margin-right: 5px;
    display: inline-block;
	font-family: 'LatoBlack';
}

.forma form #p-top {
    margin-bottom: 40px;
}

.forma form input {
    max-width: calc(100% - 84px);
    vertical-align: text-bottom;
    width: 65%;
    border-bottom: 1px solid rgb(204, 214, 220);
	font-size: 14px;
	color: rgb(36, 41, 45);
	font-family: "LatoBlack";
    padding-bottom: 5px;
}


.forma form .right-col {
    width: calc(50% - 4px);
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 5px;
}

.forma form textarea {
    max-width: calc(100% - 84px);
    vertical-align: top;
    width: 68.5%;
    border-bottom: 1px solid rgb(204, 214, 220);
	resize: none;
	font-size: 14px;
	color: rgb(36, 41, 45);
	font-family: "LatoBlack";
    padding-bottom: 5px;
    height: 92px;
}

.forma form .button {
    padding: 10px;
	background-color: rgb(141, 198, 63);
	width: 124px;
	height: 36px;
	border: none;
	outline: none;
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-family: "LatoBlack";
    margin-top: 30px;
    cursor: pointer;
    line-height: 1;
}

.footer {
	position: relative;
	width: 100%;
	height: 200px;
    padding: 0 10px;
	background: url('img/footer-bg.png') 50% no-repeat;
	background-size: cover;
}

.footer .contact {
    max-width: 1014px;
    height: 128px;
    margin: 0 auto;
    padding: 42px 0;
}

.footer .contact a {
}

.footer .logo {
	display: inline-block;
}

.footer .logo img {
    width: 95px;
}

.footer .contact ul {
    display: inline-block;
    float: right;
    position: relative;
    top: 14px;
}

.footer .contact li {
    display: inline-block;
    margin-left: 70px;
}

.footer .contact li:hover a .icon-text {
    color: #fff;
}

.footer .contact li a {
	font-size: 16px;
	color: rgb(204, 214, 220);
}

.footer .div-tr {
	display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.footer .tr-without {
	margin-right: 0;
}

.footer .div-icon {
	display: inline-block;
	border-radius: 50%;
	background-color: rgb(204, 214, 220);
	width: 19px;
	height: 19px;
    vertical-align: middle;
    margin-right: 9px;
    padding: 3px 4px;
    font-size: 14px;
}

.footer .div-icon i {
	color: #262b2f;
}

.footer .contact li .fa-skype {
    font-size: 20px;
}

.footer .contact li .fa-phone {
}

.footer .contact li .fa-youtube-play {
	color: rgb(253, 253, 253);
    font-size: 24px;
}

.footer .icon-text {
	display: inline-block;
    vertical-align: middle;
}

.footer .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 10px;
	width: 100%;
	height: 72px;
	background-color: rgb(36, 41, 45);
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
}

.footer .copyright-block {
    max-width: 1014px;
    margin: 0 auto;
}

.footer .copyright p {
	max-width: calc(100% - 145px);
	font-size: 15px;
	color: rgb(204, 214, 220);
	display: inline-block;
}

.footer .copyright ul {
    display: inline-block;
    float: right;
    position: relative;
}

.footer .copyright li {
    display: inline-block;
    margin-left: 30px;
}

.footer .copyright li:first-child {
	margin-left: 0;
}

.footer .copyright li a {
	font-size: 16px;
	color: rgb(253, 253, 253);
}

.footer .copyright li:hover a {
    color: rgb(141, 198, 63);
}


/*@media screen and (max-width: 1920px) and (min-width: 1920px) {
	.clients .carousel .slider-for li {
		max-width: 1500px;
		max-height: 500px;
	}
	.stat {
		height: 250px;
	}
	.stat .stat-list li {
		padding-top: 70px;
	}
	.stat li .num {
		font-size: 100px;
	}
	.stat li .num-info {
		top: -41px;
    	font-size: 26px;
	}
	.cycle ul {
		max-width: 73%;
	}
	.cycle ul li {
    	width: calc(33% - 44px);
		height: 540px;
    	margin: 20px;
	}
	.cycle li div {
    	height: 230px;
    	margin: 50px 0;
	}
	.cycle li div img {
		height: 100%;
	}
	.cycle li .num {
		font-size: 150px;
	}
	.cycle li .num-info {
		font-size: 31px;
		top: -124px;
	}

}*/

@media screen and (max-width: 1150px) {
	.banner h1 {
		font-size: 34px;
	}
	.cycle li .num-info {
		padding: 0 17px;
	}

}

@media screen and (max-width: 900px) {
	.button {
	    height: 45px;
	    font-size: 19px;
	}
	.title h1 {
		font-size: 28px;
	}
	.slick-arrow {
		width: 34px;
		height: 34px;
		font-size: 16px;
	}
	.header .menu .button {
		padding: 11px;
	}
	.banner {
		padding: 135px 25% 0 10.5%;
	}
	.banner a .button {
		padding: 3px 10px 3px 35px;
	}
	.solutions .title h1 {
	    font-size: 22px;
	}
	.solutions {
		padding: 100px 3% 150px;
	}
	.solutions .left-col img {
		margin-top: 20px;
		width: 190px;
	}
	.solutions .left-col .button {
		width: 200px;
	    padding: 11px 21px 15px 8px;
	}
	.stat li .num {
		font-size: 70px;
	}
	.stat li .num-info {
		top: -33px;
    	font-size: 18px;
	}
	.cycle ul li {
		height: 350px;
	}
	.cycle li div {
		height: 170px;
    	margin: 35px 0 17px;
	}
	.cycle li .num {
		font-size: 94px;
	}
	.cycle li .num-info {
		padding: 0 12px;
    	font-size: 16px;
    	top: -73px;
	}
	.cycle li .num-info-one {
	    top: -66px;
	}
	.command {
	    padding: 100px 50px 80px;
	}
	.command .slider-com {
		width: 430px;
	}
	.command .slick-next {
		right: -72px;
	}
	.footer .contact li {
		margin-left: 15px;
	}
}

@media screen and (max-width: 720px) {
	.header .lang a {
		font-size: 15px;
		margin-left: 10px;
	}
	.banner h1 {
	    font-size: 32px;
	}
	.title h1 {
		font-size: 26px;
	}
	.clients {
	    padding: 80px 8%;
	}
	.slick-prev {
	    left: -45px;
	}
	.slick-next {
	    right: -45px;
	}
	.solutions {
		padding: 80px 3%;
		max-height: 1000px;
	}
	.solutions .left-col {
	    padding-bottom: 90px;
	}
	.solutions .right-col {
	    width: 100%;
	}
	.stat .stat-list li {
		padding-top: 55px;
	}
	.stat li .num {
		font-size: 56px;
	}
	.stat li .num-info {
	    top: -25px;
    	font-size: 14px;
	}
	.whale li p {
		font-size: 17px;
	}
	.forma form .left-col,
	.forma form .right-col {
		width: 90%;
	}
	.forma form .right-col {
		margin-top: 35px;
	}
	.forma .forma-block {
		height: 520px;
	}
	.forma form input {
		width: 67%;
	}

}

@media screen and (max-width: 600px) {
	.header .lang {
		display: block;
		margin-top: 15px;
	}
	.banner {
	    padding: 150px 25% 0 10.5%;
	}
	.banner h1 {
	    font-size: 30px;
	}
	.title {
		padding-bottom: 18px;
	}
	.title h1 {
	    font-size: 24px;
	}
	.slick-arrow {
		display: none;
	}
	.clients {
	    padding: 80px 3%;
	}
	.stat {
	    height: auto;
	}
	.stat .stat-list li {
		width: 100%;
	    height: 100px;
	    padding-top: 20px;
	    margin-top: 1px;
	}
	.whale li {
		width: 100%;
	}
	.command {
	    padding: 100px 0px 80px;
	}
	.footer {
	    height: 250px;
	    text-align: center;
	}
	.footer .contact {
	    height: 180px;
	    padding: 25px 0;
	}
	.footer .contact ul {
	    top: 25px;
	    text-align: left;
	    float: none;
    	padding-left: 40px;
	}
	.footer .contact li {
	    margin-bottom: 10px; 
	    width: calc(50% - 20px);
	}
	.footer .copyright {
		text-align: left;
	}
	.footer .copyright p {
		font-size: 14px;
	}
	.footer .copyright li {
	    margin-left: 20px;
	}
}

@media screen and (max-width: 450px) {
	.banner {
	    padding: 150px 10% 0;
	    height: 480px;
	}
	.banner h1 {
	    font-size: 27px;
	}
	.solutions .left-col {
	    width: 280px;
	}
	.clients,
	.solutions {
	    padding: 40px 3%;
	}
	.title h1 {
		font-size: 22px;
	}
	.cycle,
	.whale,
	.command {
	    padding: 40px 0;
	}
	.command .slider-com {
		max-width: 420px;
		width: 100%;
	}
	.command .who {
	    height: 85px;
	}
	.command .who .name {
	    width: calc(50% - 54px);
	    font-size: 17px;
	    padding-right: 10px;
	}
	.command .who img {
	    width: 100px;
	    top: 20px;
	}
	.command .who .position {
	    width: calc(50% - 54px);
	    font-size: 13px;
	    padding: 0 25px 0 0;
	}
	.command .about {
	    height: auto;
	    font-size: 14px;
	    padding: 30px 8% 10px;
	}
	.command .who .position.two-line {
	    padding: 0 25px 0 0;
	}
	.forma .forma-block {
	    height: 450px;
	    padding-top: 25px;
	}
	.forma .forma-block h1 {
	    font-size: 20px;
	}
	.forma .forma-block>p {
	    font-size: 14px;
	    margin-top: 10px;
	}
	.forma form {
	    padding: 30px 7px 0;
	}
	.forma form .left-col,
	.forma form .right-col {
	    width: 100%;
	}
	.forma form #p-top {
	    margin-bottom: 20px;
	}
	.forma form p {
	    font-size: 14px;
	    width: 80px;
	}
	.forma form input {
	    width: 66%;
	    padding-bottom: 5px;
	}
	.forma form .right-col {
	    margin-top: 20px;
	}
	.forma form textarea {
	    margin-top: 10px;
	    max-width: 90%;
	    width: 90%;
	    height: 70px;
	}
	.footer .contact ul {
		padding-left: 0;
	}
.footer .contact li {
    margin-left: 0;
    width: calc(50% - 2px);
}
.footer .contact li a {
    font-size: 15px;
}
.footer .div-icon {
    margin-right: 5px;
}

}

























